@import url(//db.onlinewebfonts.com/c/3155bb9a43a1e1349fde80b0116fe6cd?family=Charlemagne+Std);
*{
      margin: 0;
      padding: 0;
 }

header{
     width: 100%;
      height: 200px;
     background-image: url(img/img5.gif);
     background-repeat:repeat-x;
     background-color:rgb(245, 187, 187);
     position: relative;
    }

    .btn1 {
      position: relative;
      display: block;
      overflow: hidden;
      top:40px;
      width: 90%;
      height: 50px;
      max-width: 250px;
      margin: 1rem auto;
      text-transform: uppercase;
      /*   border: 1px solid currentColor; */
      color: gray;
      background-color: #a7c3f3e1;
      line-height: 40px;
      text-align: center;
      transition: ease 0.5s;
      font-family: "Nunito";
      font-size: 18px;
      box-shadow: -3px 9px 20px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
     
    .btn1:before {
      content: "";
      position: absolute;
      top: 0;
      right: -50px;
      bottom: 0;
      left: 0;
      border-right: 50px solid transparent;
      border-bottom: 80px solid white;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      transition: cubic-bezier(1, -0.02, 0.26, 0.38) 0.5s;
      z-index: -1;
    }
     
    .btn1:hover {
      color: #00c3ff;
    }
     
    .btn1:hover:before {
      transform: translateX(0);
    }
     
    ul {
    
      display: block;
      text-align: center;
    }
     
    ul li {
      display: inline-block;
    }
     
    li {
      list-style: none;
      /*   float: left; */
      width: 200px;
      margin-left: 10px;}

@media (max-width:500px) {
     .navbar { margin-top :0px; margin-right :0px; }
     }



  /* container start */
  .container{
    background-color:rgb(253, 253, 223);
  }

.p-tex{
      text-align: center;
     color:gray;
 }
 @media (max-width:450px) {
  .p-tex{font-size: 16px; }
  }

 .gifts{
  display: flex;
  flex-direction: row;
  border: #cca8d8 6px solid;
  background-color: rgba(239, 240, 159, 0);
  padding: 30px;
  margin: 20px;
  

 }
 .gifts > div {
     background-color: hotpink;
     width: 200px;
     height: 300px;
     margin: 5px;
     position: relative;
}
@media (max-width:500px) {
     .gifts{ flex-direction: column-reverse; }
     .gifts > div{width: 100%;}
     }

     .img-gift{
      width: 200px;
      height: 250px;
     }
    /*----------------------------------*/
    button{
      
      background:  rgb(241, 154, 196);
      color: gray;
      width: 200px;
      height: 60px;
      border: 0;
      font-size: 18px;
      border-radius: 4px;
      font-family: 'Raleway', sans-serif;
      transition: .6s;
      overflow: hidden;}
      .btn:focus{
        outline: 0;
      }
     /* .btn:before{
        content: '';
        display: block;
        position: absolute;
        background: rgba(20, 18, 18, 0.678);
        width: 60px;
        height: 100%;
        left: 0;
        top: 0;
        opacity: .5;
        filter: blur(30px);
        transform: translateX(-100px)  skewX(-15deg);
      }
      .btn:after{
        content: '';
        display: block;
        position: absolute;
        background: rgba(233, 201, 201, 0.849);
        width: 30px;
        height: 100%;
        left: 30px;
        top: 0;
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100px) skewX(-15deg);
      }*/
     .btn:hover{
        background: #a7c3f3e1;
        cursor: pointer;}
        .btn:before{
          transform: translateX(300px)  skewX(-15deg);  
          opacity: 0.6;
          transition: .7s;
        }
        .btn:after{
          transform: translateX(300px) skewX(-15deg);  
          opacity: 1;
          transition: .7s;
        }
     
      #card{ float: right; margin-right: 10px;}
  
     /*----------------------------------------------*/
.box{
       display: flex;
       flex-direction: row;
       border:  #cca8d8 6px solid;
       
       padding: 30px;
       margin: 20px;
      }
 
      @media (max-width:500px) {
        .box{ flex-direction: column-reverse; padding: 0px;
          margin: 0px; }
      
        }
 .box1{
  
    display: flex;
    flex-direction: row;
   
    padding: 10px;
    margin: 20px;
    

  
 }
 .box1 > div {
    background-color: hotpink;
    width: 300px;
    height: 400px;
    margin: 5px;
    position: relative;
  }
  .img2{
    
    width: 300px;
    height: 400px;
  }
  .p-img2{
    font-family:cursive;
   
    position:absolute;
    top: 150px;
    left: 200px;
    color: rgb(68, 68, 68);
    font-size: 30px;

  }
  .p-a-1>a{
    position:absolute;
    bottom: 10px;
    right: 17px;
    color: rgb(29, 113, 192);
    font-size: 20px;
  }
  .p-a-2>a{
    position:absolute;
    top: 370px;
    left: 170px;
    color: rgb(240, 83, 214);
    font-size: 20px;
  }
 .box2{
  
    display: flex;
    flex-direction: column;
    border: ivory 2px solid;
    padding: 10px;
    margin: 20px;}
    .p-img3{
      font-family:cursive;
     
      position:absolute;
      top: 250px;
      left: 80px;
      color: rgb(68, 68, 68);
      font-size: 24px;
      
  
    }
    
 
  .box2 > div {
   
    width: 400px;
    height: 400px;
  /*  margin: 5px;*/
    position: relative;
  }
  .img4{
  
    width: 400px;
    height: 400px;
  }
  @media (max-width:500px) {
    .box2 > div { width: 410px;}
      .img4{width: 380px; height: 400px; margin: 0 ;padding: 0;}
    }
  .map-btn   {
    border-radius: 4px;
    background-color:rgba(212, 208, 195, 0.267);
    border: rgb(49, 49, 27) 2px solid;
    color: rgb(90, 95, 43);
    font-family: "Charlemagne Std"; src: url("//db.onlinewebfonts.com/t/3155bb9a43a1e1349fde80b0116fe6cd.eot"); ;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    width: 200px;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    
    margin-left:8px;
    bottom:15px; 
     position:absolute;
  }
  
  .map-btn span {
    cursor: pointer;
    display: inline-block;
   /* position: relative;*/
    transition: 0.5s;
  }
  
  .map-btn span:after {
    content: '\00bb';
   
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .map-btn:hover span {
    padding-right: 25px;
  }
  
  .map-btn:hover span:after {
    opacity: 1;
    right: 0;}



  /* finsh container*/
   /* footer start*/

   footer{
     background-color: lightsalmon;
     height: 200px;
     width: 100%;
   }
    /* footr finish */
    @media (max-width:500px) {

      .navbar { margin-top :3px; margin-right :3px; }
    }